# Default owners
* @xsl @kingst-stripe @awush-stripe @jaimepark-stripe

# Android owners
/android/ @awush-stripe @xsl @kingst-stripe

# iOS owners
/ios/ @kingst-stripe @jaimepark-stripe

# server owners
/server/ @awush-stripe @xsl
